.card-container{
  display: flex;
  flex-flow: wrap;
}
.article-card {
  display: flex;
  border: solid #AAA 1px;
  border-radius: 5px;
  margin: 5px;
  aspect-ratio: 3/1;
  background-color:#EEE;
  overflow: hidden;
  flex-basis: 44%;
}
.card-body>ul{
  flex-grow:1;
  height:100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.card-body{
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.card-body>ul>li:nth-child(odd){
 background-color:#E6E6E6;
}

.card-body>ul>li{
  color: #444;
  padding-left: 5%;
  display: flex;
  align-items: center;
  height:25%;
  font-size: 1.25em;
  
}