.container-article-card{
  display: flex;
  flex-flow: wrap;
  justify-content: flex-start;
  width: 100%;
}
.card-container{
  padding: 1vw;
  flex-basis: 45%;
}
.article-card {
  box-sizing: border-box;
  display: flex;
  border: solid #AAA 1px;
  border-radius: 8px;
  aspect-ratio: 4/1;
  background-color:#EEE;
  overflow: hidden;
}
@media(max-width: 960px){
  .card-container{
    flex-basis: 100%;
  }
}
.card-body>ul{
  flex-grow:1;
  height:100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.card-body{
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.card-body>ul>li:nth-child(odd){
 background-color:#E6E6E6;
}

.card-body>ul>li{
  color: #444;
  padding-left: 5%;
  display: flex;
  align-items: center;
  height:25%;
  font-size: 1.25em;
}