*{
  font-family: sans-serif;
}
body{
  background-color: #EEE;
}
.container-main{
  background-color: #FFF;
  display: flex;
  margin: 0 10vw;
  align-items: center;
  flex-direction: column;
  height: 90vh;
}

.container-form-filter{
  width: 60vw;
  align-items: center;
  margin: 1vh 0;
}
.container-form-filter>form{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.form-text-cat-input{
  display: flex;
  flex-direction: column;
}
.form-text-cat-input>div{
  display: flex;
  justify-content: space-between;
}
.form-text-cat-input>div>select{
  flex-basis: 66%;
}
.checkbox-group{
  display: flex;
  flex-direction: column;
}
.radio-group{
  display: flex;
  justify-content: space-between;
}
.toggle-filters{
  flex-direction: row;
}
.checkbox-group-container{
  display: flex;
  flex-direction: row;
}
@media(width: 600px){
  .container-form-filter>form{
    flex-direction: column;
    text-align: center;
  }
  .container-form-filter>form>*{
    width: 100%;
  }
  .container-form-filter>form>label{
    font-size: 0.85em;
  }
}

