*{
  font-family: sans-serif;
}
.navbar{
  background-color: #DDD;
  box-shadow: inset 0 -2px #BBB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vw;
  min-height: 50px;
  height: 5vh;
}
.brand{
  color: black;
  text-decoration: none;
  font-size: 2em;
}
.navbar-clickable-list{
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  min-height: 50px;
  height: 5vh;
}
.navbar-clickable{
  display: flex;
  min-height: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 -2px #BBB; 
  color: #444;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 10px;
}
.navbar-clickable:hover{
  background: #EFEFEF;
  .navbar-clickable>*{color: #4CF};
}
.active{
  font-weight: bold;
}
.navbar-clickable>*:hover{
  
  
}