.container{
  min-height: 100vh;
  display: flex;
  flex-flow : column nowrap;
  background: #EEE;
}
.container-main{
  width: 20em;
  height: 14em;
  background: white;
  padding: 3em 3em;
  display: flex;
  margin-top: 3em;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
  border: solid #AAA 1px;
}
form{
  display: flex;
  flex-direction: column;
}
.label-field{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.form-submit-block{
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  margin-bottom: 10px;
}
.form-misc{
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.register{
  padding-top: 50px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.register>a{
  display: flex;
  flex-basis: 100%;
  height: 50px;
}
.register>a>button{
  flex-grow: 1;
}
@media(max-width:960px){
  .container-main{
    width: 11em;
    height: 14em;
  }
  .label-field{
    display: flex;
    flex-flow: column nowrap;
  }
  .form-submit-block{
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .form-submit-block>input{
    height: 4em;
  }
  .form-misc{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-misc>*{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .register{
    padding: 0;
  }
  .register>a{
    height: inherit;
  }
}